# Ignore system files
.aws/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.inspector-sbomgen/
.keras/
.local/
.profile
.selected_editor
.ssh/
.sudo_as_admin_successful

# Ignore Python cache & logs
__pycache__/
*.log
